:root>* {
  --md-primary-fg-color: #0092d2;
  --md-primary-fg-color--light: #40b5e3;
  --md-primary-fg-color--dark: #006a9a;

  --md-accent-fg-color: #0092d2;
  --md-accent-fg-color--light: #40b5e3;
  --md-accent-fg-color--dark: #006a9a;
}